 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - WattEsportsCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Index.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 page-holder bg-cover">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bgStormgrey">

            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/logos/Textmark.png" title="title" alt="additional title" style="width:60px" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="News">News</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Teams">Competitive Teams</a>
                    </li>

                    @if (User.IsInRole("ServerManager") || User.IsInRole("CommitteeCoordinator") || User.IsInRole("CommitteeEsports")
                    || User.IsInRole("CommitteePresident") || User.IsInRole("CommitteeSecretary") || User.IsInRole("CommitteeTreasurer"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light" asp-area="Admin" asp-controller="Committees" asp-action="Index">Current Committee</a>
                                <a class="dropdown-item text-light" asp-area="Admin" asp-controller="PreviousCommittees" asp-action="Index">Previous Committees</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("ServerManager") || User.IsInRole("CSGOLead") || User.IsInRole("R6Lead")
                   || User.IsInRole("ValorantLead") || User.IsInRole("MinecraftLead") || User.IsInRole("FightingLead")
                   || User.IsInRole("LeagueOfLegendsLead") || User.IsInRole("DOTALead") || User.IsInRole("RocketLeagueLead")
                   || User.IsInRole("CommitteeCoordinator") || User.IsInRole("CommitteeEsports")
                   || User.IsInRole("CommitteePresident") || User.IsInRole("CommitteeSecretary") || User.IsInRole("CommitteeTreasurer"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Game Leads
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="Valorants" asp-action="Index">Valorant Team</a>
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="Counterstrikes" asp-action="Index">CS:GO Team</a>
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="LeagueOfLegends" asp-action="Index">LoL Team</a>
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="RainbowSixes" asp-action="Index">Rainbow Six Team</a>
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="RocketLeagues" asp-action="Index">Rocket League Team</a>
                                <a class="dropdown-item text-light" asp-area="GameLead" asp-controller="Hearthstones" asp-action="Index">Hearthstone Team</a>

                            </div>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>
      


    <footer class="text-center text-white bgStormgrey mt-auto">
        @*<div class="container">*@
            Watt Esports 2021, Sponsored by our affiliates; The Hive Nightclub and Venue Edinburgh, and Heriot Watt Student Union.
            <a href=https://clubhive.co.uk><img src="/images/logos/hiveWhiteCropped.png" alt="Hive-Logo" width=55></a>
            <a href=https://www.hwunion.com><img src="/images/logos/unionPinkCropped.png" alt="HWUnion-Logo" width=55></a>
        @* </div> *@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
