@{
    ViewData["Title"] = "Home Page";
}



<div class="alert alert-light alert-dismissible fade show" role="alert">
    <strong>Game Trials Soon!</strong> Come join us in the discord to learn more about joining a competitive team for the NSE & NUEL Seasons!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<header>
    <!-- TITLE -->
    <div>
        <h1 class="display-3 text-center">
            WATT ESPORTS AND VIDEO GAME SOCIETY
        </h1>
    </div>

    <!-- SUBTITLE -->
    <div>
        <p class="lead text-center"> The best Scottish University Society in the <img src="images/logos/NSE.png" alt="NSE Logo" width="44"> competitive brackets </p> <! Information about our NSE placing in the 2020 year>
    </div>

</header>

<main>
    <div id="content">
        <div class="text-center" style="width:60%;margin-left:auto;margin-right:auto;">
            <p>
                Founded in 2017, the Watt Esports Society based in Heriot-Watt University Edinburgh has been the #1 Scottish University in the NSE standings for three years running. We run teams for video games in League of Legends, Valorant, Counter-Strike: Global Offensive, Overwatch, Rocket League, Dota 2, and more. We have a friendly community based in our discord server which is open to anyone who wants a group of friendly people to play their favourite video games with.
            </p>

            <br />

            <blockquote class="blockquote">
                <p class="mb-0"><em>"This is an incredibly friendly and engaging community, I'd totally play video games with them."</em></p>
                <footer class="blockquote-footer">Nicolas Nicolauze<cite title="Source Title"> (Discord Manager)</cite></footer>
            </blockquote>

            <br />

            <p>
                Our goal is to create a safe and fun environment for our members to play video games together with no discrimination. We strive to be the best in all the competitive aspects of gaming that we can be, we do this by playing multiple teams for several games in both the NSE and NUEL championships every year. We even host friendly in-house tournaments for anyone to take part in and get involved with to increase our community outreach, also, every now and then we play varsity matches against other universities which hold Esports Societies, bringing us epic gamers together.
            </p>

            <br />

            <blockquote class="blockquote">
                <p class="mb-0"><em>"That's funny, but when did I ask"</em></p>
                <footer class="blockquote-footer">Malek<cite title="Source Title"> (King Kouadria)</cite></footer>
            </blockquote>
        </div>
    </div>
</main>

