@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "News";
}

<div class="h-100 row align-items-center" style="width: 50%">
    <div class="col" style="background:grey">
        <div style="font-size: 22px; text-align: center;">
            <a class="twitter-timeline" href="https://twitter.com/WattEsports?ref_src=twsrc%5Etfw">Tweets by WattEsports</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" twttr.widgets.load()></script>
        </div>
    </div>
</div>

